body {
  background-color: #ee5281;
}

@mixin pokemon-type($background-color, $text-color: white) {
  background-color: $background-color;

  &.faded {
    background-color: transparentize($background-color, 0.75);
  }

  &.colorize-text {
    color: $text-color;
  }
}

.pokemon-type {
  &-normal {
    @include pokemon-type(#babaaa);
  }

  &-fighting {
    @include pokemon-type(#ba5444);
  }

  &-flying {
    @include pokemon-type(#6699ff);
  }

  &-poison {
    @include pokemon-type(#aa5499);
  }

  &-ground {
    @include pokemon-type(#ddba54);
  }

  &-rock {
    @include pokemon-type(#baaa66);
  }

  &-bug {
    @include pokemon-type(#aabb22);
  }

  &-ghost {
    @include pokemon-type(#6666bb);
  }

  &-steel {
    @include pokemon-type(#aaaaba);
  }

  &-fire {
    @include pokemon-type(#ff4421);
  }

  &-water {
    @include pokemon-type(#3499ff);
  }

  &-grass {
    @include pokemon-type(#77cc54);
  }

  &-electric {
    @include pokemon-type(#ffcc33);
  }

  &-psychic {
    @include pokemon-type(#ff5499);
  }

  &-ice {
    @include pokemon-type(#77ddff);
  }

  &-dragon {
    @include pokemon-type(#7766ee);
  }

  &-dark {
    @include pokemon-type(#775544);
  }

  &-fairy {
    @include pokemon-type(#ffaaed);
  }

  &-unknown {
    @include pokemon-type(#000000);
  }

  &-shadow {
    @include pokemon-type(#3E3355);
  }
}

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'DotGothic16', sans-serif;
}

a,
span,
p,
small,
strong,
input,
input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-family: 'DotGothic16', sans-serif;
}